// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.7\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "logLevel": "OFF",
  "autoMapPoll": "1000",
  "cacheAnimalsData": "10000",
  "cacheMobsData": "10000",
  "cachePlayerData": "1000",
  "cachePlayersData": "3000",
  "cacheVillagersData": "10000",
  "announceMod": "false",
  "checkUpdates": "false",
  "recordCacheStats": "false",
  "browserPoll": "10000",
  "themeName": "OceanMonument",
  "caveIgnoreGlass": "true",
  "mapBathymetry": "true",
  "mapTopography": "false",
  "mapTransparency": "true",
  "mapCaveLighting": "false",
  "mapAntialiasing": "true",
  "mapPlantShadows": "false",
  "mapPlants": "false",
  "mapCrops": "true",
  "mapBlendGrass": "true",
  "mapBlendFoliage": "false",
  "mapBlendWater": "false",
  "mapSurfaceAboveCaves": "false",
  "renderDistanceCaveMax": "8",
  "renderDistanceSurfaceMax": "8",
  "renderDelay": "1",
  "revealShape": "Square",
  "alwaysMapCaves": "true",
  "alwaysMapSurface": "true",
  "tileHighDisplayQuality": "false",
  "maxAnimalsData": "10",
  "maxMobsData": "10",
  "maxPlayersData": "3",
  "maxVillagersData": "5",
  "hideSneakingEntities": "true",
  "radarLateralDistance": "16",
  "radarVerticalDistance": "8",
  "tileRenderType": "1",
  "mappingEnabled": "true",
  "renderOverlayEventTypeName": "ALL",
  "renderOverlayPreEvent": "true",
  "optionsManagerViewed": "5.7.1",
  "splashViewed": "5.7.1",
  "gridSpecs": {
    "day": "GridRegion,#808080,1.0,-1,-1",
    "night": "Squares,#8080ff,0.3,-1,-1",
    "underground": "Squares,#808080,0.3,-1,-1"
  },
  "colorPassive": "#bbbbbb",
  "colorHostile": "#ff0000",
  "colorPet": "#0077ff",
  "colorVillager": "#88e188",
  "colorPlayer": "#ffffff",
  "colorSelf": "#0000ff",
  "verboseColorPalette": "false",
  "configVersion": "5.7.1p2"
}